body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;  
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;  
    } 

/*
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
    margin: 0 auto;
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

*/

.inner-page {
    background-image: url("../img/backlight-catalog.png");
}
a {
    text-decoration: none;
    color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.site-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    list-style: none;   
}
.menu-underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    list-style: none;
}
.main-navigation a {
    color: #ffffff;
}
a.navigation-site {
    box-sizing: border-box;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    color: #ffffff
    text-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
a.navigation-site:hover,
a.navigation-site:focus {
    color: #333333;
    background-color: rgb(247, 246, 243);
}
a.navigation-site:active {
    border-radius: 25px;
    color: #333333;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}
.site-navigation-current .navigation {
    border-radius: 25px;
    background-color: #d07058;
    padding: 8px 15px 8px 15px;
}
.catalog-menu {
    position: relative;
}
.search {
    position: relative;
}
.login-link {
    position: relative;
}
.full-trolley {
    position: relative;
}

.main-navigation p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}
.main-navigation p b {
    font-size: 22px;
    line-height: 34px;
}
.sliders p {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}
.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-image: linear-gradient(360deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 60px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover,
.button:focus {
    outline: none;
    background-image: linear-gradient(360deg, rgb(220, 125, 107) 0%, rgb(225, 131, 112) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.button:active {
    background-image: linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: inset 0px -2px 2px 0px rgba(148, 39, 24, 0.004);
}


.button-jam {
    width: 278px;
    height: 63px;
    font-size: 32px;
    line-height: 44px;
}
.button-promotion-rasp {
    width: 165px;
    height: 46px;
}
.button-promotion-choco {
    width: 189px;
    height: 45px;
}
.button-subscription {
    width: 128px;
    height: 45px;
}
.button-location {
    display: block;   
    width: 251px;
    height: 43px;
}
.button-entrance {
    width: 100px;
    height: 45px;
    border-radius: 20px;
}
.button-feedback {
    width: 138px;
    height: 43px;
}
.button-cart {
    width: 170px;
    height: 45px;
}
.button-form {
    width: 143px;
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
    border-radius: 60px;
    cursor: pointer;
}
.button-form:hover,
.button-form:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #323232;
}
.button-form:active {
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
    border: none;
    color: #323232;
}
.raspberries {
    background-color: #69182c;
    background-image: url("../img/raspberries-background.jpg");
    background-repeat: no-repeat;
    border-radius: 18px;
    width: 560px;
    min-height: 230px;
}
.chocolate {
    background-color: #3f2519;
    background-image: url("../img/chocolate-background.jpg");
    background-repeat: no-repeat;
    border-radius: 18px;
    width: 560px;
    min-height: 230px;
}
.promotion h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.promotion p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.hit ul {
    list-style: none;
}
.hit-item-image img {
    border-radius: 50%;
    width: 267px;
    height: 267px;
    position: relative;
    z-index: -2;
}
.hit-item-price {
    line-height: 45px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.price-currency {
    position: relative;
}
.price-currency::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 36px;
    top: 12px;
    left: 5px;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.hit-item-measure,
.catalog-item-measure {
    margin-left: 25px;
}
.hit-item-description a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.hit-item-description a:hover,
.hit-item-description a:focus,
.hit-item-description a:active {
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.hit-item {
    position: relative;
}
.hit-item::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.hit-item-glance {
    position: absolute;
    display: none;
    z-index: -1;                   
    top: -6px;
    left: -13px;                                                        
    width: 293px;
    height: 405px;
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
} 
.button-glance {
    display: none;
    justify-content: center;      
    align-items: center;
    width: 200px;
    height: 44px;
    position: absolute;
    z-index: 1;
    top: 334px;
    left: 33px;
}

.hit-item:hover .hit-item-glance,
.hit-item:focus .hit-item-glance {
    display: block;                                                   
}
.hit-item:hover .button-glance,
.hit-item:focus .button-glance {
    display: flex;
}


.shop-description{
    position: relative;
    z-index: -2;
    background-color: #ecdebe;
    background-image: url("../img/waffle-pattern.jpg");
    border-radius: 15px;
    width: 1150px;
    min-height: 310px;
    height: auto;
}
.shop-description h2 {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.shop-description-list {
    list-style: none;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.news {
    background-color: #f1c5ca;
    background-image: url("../img/strawberry-background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    min-height: 220px;
}
.news h4 {
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.news a {
    color: #323232;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    border-bottom: 3px solid rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.8);
}
.news a:hover,
.news a:focus,
.news a:active {
    color: rgb(232, 77, 55);
    border-bottom: 3px solid rgba(232, 77, 55, 0.3) 
}
.subscription{
    background-image: url("../img/post-background.svg");
    background-repeat: no-repeat;
    width: 550px;
    min-height: 210px;
    border-radius: 10px;
    padding: 5px;
}
.subscription-inner {
    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    width: 550px;
    min-height: 210px;
}
.subscription p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.subscription-form input {
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 336px;
    height: 42px;
    color: #323232;
    font-size: 16px; 
    font-weight: 700;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.subscription-form input:hover { 
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.5);
}
.subscription-form input:focus {
    outline:none; 
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.5);
}
.map {
    background-color: #dcdfcf;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 429px;
}
.address {
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 15px;
    width: 250px;
    min-height: 245px;
}
.address p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.address b {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.info {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    list-style: none;
}
.info a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.info a:hover,
.info a:focus,
.info a:active {
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.info li:first-child {
    font-weight: 700;
}
.footer-social ul {
    list-style: none;
}
.footer-social img {
    opacity: 0.8;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    /*
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5)  */  
}
.footer-social img:hover,
.footer-social img:focus {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.7);
}
.footer-social img:active {
    opacity: 0.6;
    border-color: rgba(255, 255, 255, 0.7);
}
.info li:first-child {
    position: relative;
}
.info li:first-child::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    top: 2px;
    left: 23px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-copyright p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.footer-copyright p a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-copyright p a:hover,
.footer-copyright p a:focus,
.footer-copyright p a:active {
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}


.modal {
    background-color: rgb(248, 247, 244);
}


.modal-main-menu {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 143px;
    min-height: 171px;
}
.modal-main-menu b {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}
.modal-main-menu a:focus,
.modal-main-menu a:hover {
    background-color: rgb(251, 222, 215);
}
.modal-main-menu a:active {
    background-color: rgb(246, 181, 165);
}
.menu-item-current {
    background-color: rgb(208, 112, 88);
    width: 143px;
    height: 28px;
}
.modal-main-menu-list a {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.modal-main-menu ul {
    list-style: none;
}


.modal-login {
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 241px;
    min-height: 173px;
}
.modal-login input {
    font: inherit;
    width: 210px;
    height: 43px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    color: #323232;
    font-size: 16px; 
    font-weight: 700;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-login a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-login input:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.5);
}
.modal-login input:focus {
    outline:none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.5);
}
.modal-login .login-links a:hover,
.modal-login .login-links a:focus,
.modal-login .login-links a:active {
    color: rgb(232, 77, 55);
    border-bottom: 1px solid rgba(232, 77, 55, 0.3) 
}


::-webkit-input-placeholder { 
    color: rgb(153, 153, 153);
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px; 
}
::-moz-placeholder { 
    color: rgb(153, 153, 153);
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;  
} /* Firefox 19+ */
:-moz-placeholder { 
    color: rgb(153, 153, 153);
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;  
} /* Firefox 18- */
:-ms-input-placeholder { 
    color: rgb(153, 153, 153);
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;  
}


.modal-searching-form {
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 312px;
    min-height: 44px;
}
.searching-form input {
    font: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 310px;
    height: 44px;
    color: #323232;
    font-size: 16px; 
    font-weight: 700;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.searching-form input:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.5); 
}
.searching-form input:focus {
    outline:none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.5);
}


.modal-feedback-form {
    border-radius: 10px;
    width: 438px;
    min-height: 405px;
}
.modal-feedback-form h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.feedback-form input{
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 235px;
    height: 42px;
    color: #323232;
    font-size: 16px; 
    font-weight: 700;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.feedback-form textarea {
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 396px;
    height: 152px;
    resize: none;
    color: #323232;
    font-size: 16px; 
    font-weight: 700;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-feedback-form::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    top: 15px;
    left: 443px;
    background-image: url("../img/cross-big.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.5);
}
.feedback-form input:focus,
.feedback-form textarea:focus {
    outline:none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.5);
}


.modal-cart {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 511px;
    min-height: 192px;
}
.modal-cart td {
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;  
}
.price-number-cart,
.price-currency-cart {
    opacity: 0.5
}
.total {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}


ul.breadcrumbs {
    list-style: none;
}
.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
h1.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}


.catalog-filter-form label,
.catalog-filter-form option {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.catalog-filter-form legend,
label.form-popularity {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
.catalog-filter-form select {
    outline: none;
    width: 195px;
    height: 37px;
    padding-left: 15px;
    border: none;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, 0.2);
    background-image: url("../img/icon-down-dir.svg");
    background-size: 11px 10px;
    background-position: 168px center;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none;
}
.catalog-filter-form select::-ms-expand {
    display: none;
}
.catalog-filter-form select:hover,
.catalog-filter-form select:focus {
    background-color: rgb(250, 250, 250);
    background-image: url("../img/icon-down-dir-2.svg");
    background-size: 11px 10px;
    background-position: 168px center;
    background-repeat: no-repeat;
    color: #323232;
}
.catalog-filter-form select:focus option{
    padding-left: 20px;                          
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.form-popularity select,
.form-price-circle-1,
.form-price-circle-2,
.form-fat label::before,
.form-fat label::after,
.f-fillers label::before,
.f-fillers label::after {
    cursor: pointer;
}
.form-fat label:hover::before,
.form-fat label:hover::after,
.f-fillers label:hover::before,
.f-fillers label:hover::after,
.form-fat label:focus::before,
.form-fat label:focus::after,
.f-fillers label:focus::before,
.f-fillers label:focus::after {
    opacity: 1;
}
.form-fat label:disabled::before,
.form-fat label:disabled::after,
.f-fillers label:disabled::before,
.f-fillers label:disabled::after {
    opacity: 0.4;
}


ul.catalog-list {
    list-style: none;
}
.catalog-item-image img {
    border-radius: 50%;
    width: 267px;
    height: 267px;
    position: relative;
    z-index: -2;
}
.catalog-item-price {
    line-height: 45px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item p a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.catalog-item p a:hover,
.catalog-item p a:focus,
.catalog-item p a:active {
    color: rgb(255, 188, 158);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.catalog-item {
    position: relative;
}
.catalog-item-glance {
    position: absolute;
    display: none;
    z-index: -1;                   
    top: -6px;
    left: -13px;                                                        
    width: 293px;
    height: 405px;
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
} 
.button-glance {
    display: none;
    justify-content: center;      
    align-items: center;
    width: 200px;
    height: 44px;
    position: absolute;
    z-index: 1;
    top: 334px;
    left: 33px;
}

.catalog-item:hover .catalog-item-glance,
.catalog-item:focus .catalog-item-glance {
    display: block;                                                   
}
.catalog-item:hover .button-glance,
.catalog-item:focus .button-glance {
    display: flex;
}

ul.pagination-list {
    list-style: none;
}
.pagination-item a{
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    width: 27px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;  
} 
.pagination-item:first-child a,
.pagination-item:last-child a { 
    padding-bottom: 3px;
}
.pagination-item-current a {
    color: #323232;
    background-color: rgb(255, 255, 255); 
}
.pagination-item-disabled a {
    color: #8ea598;
    cursor: default;
}
.pagination-item a:hover,
.pagination-item a:focus {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 27px;
    height: 26px;
}
.pagination-item a:active {
    color: #323232;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 27px;
    height: 26px;
    cursor: default;
}


    /*  Сеточные стили главной страницы  */

html.
body {
    min-height: 2415px;
    margin: 0;
    padding: 0;
}
body {
    /*Временно для сетки*/  /*
    background-image: url("../img/gllacy-index-1200.jpg");
    background-width: 1200px;
    background-height: auto;
    background-repeat: no-repeat;  */
}


    /*  Header  */


.main-header {
    margin: 0;
    margin-bottom: 270px;
    width: 1146px;
    padding: 0 27px;
    min-height: 120px;

    /*Временно для сетки*/ /*
    background-color: rgba(237, 110, 146, 0.3); */
     
    
}
.main-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    min-height: 120px;
}
.main-header-logo {
    width: 154;
    height: 64;
    padding-top: 8px;
    padding-right: 9px;
    flex-grow: 0;
    flex-shrink: 0;

    /*Временно для сетки*/  /*
    background-color: rgba(241, 204, 180, 0.3); */
}
.site-navigation {
    margin: 0;
    padding: 0;
    width: 482px;
    margin-right: 208px;
    text-align: left;
    padding-top: 17px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;

    /*Временно для сетки*/   /*  
    background-color: rgba(210, 204, 180, 0.3);  */
}
.site-navigation li {
    margin-right: -2px;
}
.user-navigation {
    margin: 0;
    padding: 0;
    width: 293px;
    text-align: right;
    padding-top: 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 45px;

    /*Временно для сетки*/   /*   
    background-color: rgba(241, 204, 180, 0.3);  */
}
.user-navigation li {
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    padding-right: 17px;
    padding-left: 16px;
    border-radius: 25px;
    text-align: center;
    margin-left: 10px;  
}

.user-navigation li:hover,
.user-navigation li:focus {
    background-color: rgb(248, 247, 244);
    color: #323232;                              
}                                           
.user-navigation li:hover a,
.user-navigation li:focus a {
    color: #323232; 
}
.user-navigation li:hover path,
.user-navigation li:focus path,
.user-navigation li:hover polygon,
.user-navigation li:focus polygon,
.user-navigation li:hover circle,
.user-navigation li:focus circle {
    fill: #323232; 
}
li.full-trolley:hover polygon,
li.full-trolley:focus polygon {
    fill: #E84D37;
}
.navigation {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.empty-trolley svg,
.full-trolley svg,
.login-link svg  {
    margin-right: 6px;
}
.user-navigation .search {
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
}



.main-navigation p { 
    margin: 0;
    padding: 0;
    width: 170px; 
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 50px;

    /*Временно для сетки*/  /*   
    background-color: rgba(241, 204, 180, 0.3);  */
}
.main-navigation p a {
    display: block;
}
    /*  Main  */

.container {
    padding: 0;
    margin: 0;
}


    /*  Sliders  */


.sliders {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 30px;
    min-height: 225px;
    position: relative;

    /*Временно для сетки*/   /*
    background-color: rgba(241, 204, 180, 0.3);  */  
}
.slider-radio {
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%
}
.first-slider{
    bottom: 45px;
    left: 27px;
}
.second-slider{
    bottom: 45px;
    left: 56px;
}
.third-slider{
    bottom: 45px;
    left: 85px;
}
.sliders-radio-buttons label::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    opacity: 0;
}
.sliders-radio-buttons label::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
}
.sliders-radio-buttons input:checked + label::before,
.sliders-radio-buttons input:not(:checked) + label::after {
  opacity: 1;
}
.slider-radio:hover,
.slider-radio:focus {
    background-color: rgba(255, 255, 255, 0.4)
}
.slider-1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 214px; 
}
.slider-1 p {
    width: 670px;
    text-align: center;
    margin: 0 auto;
    min-height: 130px;

    /*Временно для сетки*/    /*    
    background-color: rgba(237, 110, 146, 0.3);  */
}
.slider-1 button {
    width: 278;
    margin: 0 auto;
}


    /*  Promotion  */


.promotion {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 39px;
    display: flex;
    min-height: 230px;

    /*Временно для сетки*/    /*
    background-color: rgba(254, 191, 80, 0.3);  */
}
.promotion article {
    width: 560px;
}
.raspberries {
    padding: 0;
    margin: 0;
    margin-right: 26px;
}
.raspberries h3 {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 16px;
}
.raspberries p {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
}
.raspberries button {
    margin-left: 375px;
    margin-top: 43px;
}
.chocolate {
    padding: 0;
    margin: 0;
}
.chocolate h3 {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 16px;
}
.chocolate p {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
}
.chocolate button {
    margin-left: 350px;
    margin-top: 43px;
}

    /*  Hit  */


.hit {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 22px;
    min-height: 330px;

    /*Временно для сетки*/   /*
    background-color: rgba(110, 237, 116, 0.3);   */
}
.hit-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -26px;
    min-height: 330px;
}
.hit-item {
    width: 267px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    min-height: 330px;
}
.hit-item-price {
    margin-top: -65px;
}
.hit-item p {
    text-align: center;
    margin-top: 24px;
}


    /* Shop-description  */


.shop-description {
    padding: 23px 20px;
    margin: 0 auto;
    width: 1106px;
    margin-bottom: 39px;
    min-height: 261px;

    /*Временно для сетки*/    /*
    background-color: rgba(110, 237, 116, 0.3);   */
}
.shop-description-topic {
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}
.shop-description-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop-description-article {
    margin: 0;
    padding: 0;
    width: 540px;
    display: flex;

    /*Временно для сетки*/   /*
    background-color: rgba(110, 237, 116, 0.3);   */
}
.shop-description li:nth-child(1) {
    order: 0;
}
.shop-description li:nth-child(2) {
    order: 2;
}
.shop-description li:nth-child(3) {
    order: 1;
}
.shop-description li:nth-child(4) {
    order: 3;
}
.shop-description-article-img {

}
.shop-description-article p {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 7px;

    /*Временно для сетки*/   /*
    background-color: rgba(254, 191, 80, 0.3);  */
}

    /*  News  */

.style-block {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 40px;
    display: flex;
    min-height: 220px;

    /*Временно для сетки*/    /*
    background-color: rgba(68, 53, 227, 0.3);   */
}
.news {
    padding: 0;
    margin: 0;
    margin-right: 26px; 
}
.news h4 {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
}
.news div {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    width: 290px;
}
.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscription-inner {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.subscription-inner p {
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-left: 22px;
    margin-bottom: 35px;
    width: 510px;
    min-height: 65px; 

    /*Временно для сетки*/     /* 
    background-color: rgba(68, 53, 227, 0.3);   */
}
.subscription-form {
    padding: 0;
    margin: 0;
    margin-left: 22px;
    width: 510px;
}
.subscription-form button {
    margin-left: 8px;
    margin-top: -5px;
}
    /*  Location  */


.location {
    position: relative;
}
.address {
    padding: 30px 26px;
    position: absolute;
    top: 62px;
    left: 870px;
}
.address p {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
}
.button-location {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /*  Footer  */

.main-footer {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
    min-height: 103px; 

    /*Временно для сетки*/    /*
    background-color: rgba(68, 53, 227, 0.3);   */
}
.footer-social ul{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 267px;
    margin-top: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 37px;

    /*Временно для сетки*/   /*
    background-color: rgba(110, 237, 116, 0.3);    */
}
.footer-social ul li {
    margin-right: 11px;
}
.info {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 360px;
    margin-left: 110px;
    margin-right: 142px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 40px;

    /*Временно для сетки*/   /*
    background-color: rgba(241, 204, 180, 0.3);    */
}
.info-link {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    min-height: 17px;

    /*Временно для сетки*/    /*
    background-color: rgba(241, 204, 180, 0.3);    */
}
.info li:nth-child(1) {
    order: 0;
    box-sizing: border-box;
    margin-top: 35px;
    padding-left: 45.5px;
}
.info li:nth-child(2) {
    order: 2;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 46px;
}
.info li:nth-child(3) {
    order: 1;
    box-sizing: border-box;
    margin-top: 35px;
    padding-left: 7px;
}
.info li:nth-child(4) {
    order: 3;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 7px;
}
.footer-copyright {
    margin: 0;
    padding: 0;
    width: 267px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-height: 65px;

    /*Временно для сетки*/   /*
    background-color: rgba(110, 237, 116, 0.3);    */
}
.ha-logo {
    margin: 0;
    padding: 0;
    margin-top: 17px;
    margin-left: 78px;
}
.footer-copyright p {
    margin: 0;
    padding: 0;
    margin-left: 77px;

    /*Временно для сетки*/  /*      
    background-color: rgba(254, 191, 80, 0.3);    */
}




    /*  Сеточные стили страницы каталога */ 


.inner-page {
    /*Временно для сетки*/   /*
    background-image: url("../img/gllacy-catalog-1200.jpg");
    background-width: 1200px;
    background-height: auto;
    background-repeat: no-repeat;  */
}
.full-trolley {
    position: relative;
}
.inner-page .main-navigation p{
    margin-top: -6px;
}

    /*  Breadcrumbs  */


.breadcrumbs {
    padding: 0;
    margin: 0;
    width: 265px;
    padding: 0 28px;
    display: flex;
    justify-content: flex-start;
    min-height: 20px;

    /*Временно для сетки*/   /*
    background-color: rgba(68, 53, 227, 0.3);    */
    
}
.inner-page .main-header {
    margin-bottom: -23px;
}
.breadcrumbs li {
    margin-right: 7px;
}
.inner-page .container {
    width: 1200px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    min-height: 1443px;


    /*Временно для сетки*/    /*
    background-color: rgba(75, 14, 103, 0.3);   */
}

.page-title {
    width: 390px;
    padding: 0;
    margin: 0;
    padding: 0 27px;
    margin-bottom: 25px;
    min-height: 40px;

    /*Временно для сетки*/  /*
    background-color: rgba(254, 191, 80, 0.3);   */
}


    /*  Filters  */

.filters {
    width: 879px;
    padding: 0;
    margin: 0;
    padding: 0 0 0 27px;
    margin-bottom: 39px;
    min-height: 134px;

    /*Временно для сетки*/   /*
    background-color: rgba(110, 237, 116, 0.3);   */
}
fieldset {
    border:0 none;
    padding: 0;
    margin: 0;
}
.catalog-form {
    display: flex;
    flex-wrap: wrap;
}
.form-popularity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 195px;
    margin-right: 14px;
    min-height: 59px;

    /*Временно для сетки*/    /*
    background-color: rgba(254, 191, 80, 0.3);   */
}
.form-popularity span {
    margin-left: 17px;
    margin-top: 1px;
}
.form-price {
    width: 218px;
    margin-right: 15px;
    position: relative;

    /*Временно для сетки*/    /*
    background-color: rgba(154, 170, 80, 0.3);   */
}
.form-price legend {
    margin-left: 15px;
    margin-top: 5px;
}
.form-price-range {
    position: absolute;
    width: 218px;
    height: 36px;
    top: 23px;
    left: 0px;
    background-image: url("../img/background-for-range.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
    border-radius: 25px;
}
.form-price-line {
    position: absolute;
    width: 176px;
    height: 4px;
    top: 17px;
    left: 21px;
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.form-price-line-center {
    position: absolute;
    width: 106px;
    height: 4px;
    top: 17px;
    left: 37px;
    background-image: url("../img/line-in-the-center.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.form-price-circle-1 {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 22px;
    top: 8px;
    left: 34px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.form-price-circle-2 {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 22px;
    top: 8px;
    left: 132px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.form-fat-content {
    width: 415px;

    /*Временно для сетки*/    /*
    background-color: rgba(254, 91, 180, 0.3);  */
}
.form-fat-content legend {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 7px;
}
.form-fat {
    width: 414px;
    height: 36px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}
.form-fat-content input:first-child {
    margin-left: 19px;
}
.form-fat-content label:first-child {
    margin-left: 14px;
    margin-top: 1px;
}
.form-fat-content input {
    margin-left: 23px;
}
.form-fat-content label {
    margin-left: 14px;
    margin-top: 1px;
}
.form-fat label {
    position: relative;
}
.form-fat label::before {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -4px;
    left: -34px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}
.form-fat label::after {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -4px;
    left: -34px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}
.form-fat input:not(:checked) + label::after,
.form-fat input:checked + label::before
{
  visibility: visible;
}
.form-fillers {
    width: 702px;
    margin-right: 15px;
    margin-top: 16px;
    min-height: 59px;

    /*Временно для сетки*/    /*
    background-color: rgba(204, 170, 150, 0.3);   */
}
.form-fillers legend {
    margin-left: 15px;
    margin-bottom: 7px;
}
.f-fillers {
    width: 702px;
    height: 36px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}
.form-fillers input:first-child {
    margin-left: 20px;
    margin-top: -1px;
}
.form-fillers label:first-child {
    margin-left: 14px;
    margin-top: -1px;
}
.form-fillers input {
    margin-left: 26px;
    margin-top: -1px;
}
.form-fillers label {
    margin-left: 14px;
    margin-top: -1px;
}
.form-fillers label:last-child {
    margin-left: 16px;
    margin-top: -1px;
}
.f-fillers label {
    position: relative;
}
.hidden {
    visibility: hidden;
}
.f-fillers label::before {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 27px;
    height: 25px;
    top: -3px;
    left: -32px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}
.f-fillers label::after {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 27px;
    height: 25px;
    top: -3px;
    left: -32px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}
.f-fillers input:not(:checked) + label::after,
.f-fillers input:checked + label::before
{
  visibility: visible;
}
.button-form {
    margin-top: 38px;
}

    /* Catalog */

.catalog-list {
    padding: 0;
    margin: 0;
    padding: 0 27px;
    width: 1172px;
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -26px;
    min-height: 1055px;

    /*Временно для сетки*/    /*
    background-color: rgba(241, 204, 180, 0.3);  */
}
.catalog-item {
    padding: 0;
    margin: 0;
    width: 267px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    min-height: 362px;
}
.catalog-item-price {
    padding: 0;
    margin: 0;
    margin-top: -65px;
}
.catalog-item p {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 0 auto;
    width: 257px;
    text-align: center;
    margin-top: 24px;
}
.pagination-list {
    padding: 0;
    margin: 0;
    padding: 0 27px;
    width: 1146px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 30px;

    /*Временно для сетки*/    /*
    background-color: rgba(237, 110, 146, 0.3);  */
}
.pagination-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}
.pagination-list li:first-child a,
.pagination-list li:last-child a {
    width: 9px;
    background: none; 
}
.pagination-list li:first-child a {
    margin-right: 11px;
}
.pagination-list li:last-child a {
    margin-left: 15px;   
}


    /*  Модальные окна  */

.modal-main-menu {
    position: absolute;
    z-index: 2;
    top: 45px;
    left: -5px;
    display: none;
}
.catalog-menu:hover .modal-main-menu,
.catalog-menu:focus .modal-main-menu {
    display: block;
}
.modal-main-menu-list {
    padding: 0;
    margin: 0;
    width: 122px;
    min-height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.modal-main-menu a {
    display: block;
    min-height: 28px;
    width: 122px;
    padding-left: 21px;
}
.modal-main-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-main-menu div {
    min-height: 38px;
    box-sizing: border-box;
    padding-top: 6px;
    position: relative;
}
.modal-main-menu div::after {
    content: "__________________";
    position: absolute;
    top: 21px;
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.2);
}


.login-container{
    width: 277px;
    min-height: 230px;
    display: flex;          
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 27px;
    left: -184px;
    display: none;
}
.modal-login {
    padding: 20px 17px 21px 19px;
}
.login-link:hover .login-container, 
.login-link:focus .login-container {
    display: flex;
}   
.login-form input {
    margin-bottom: 20px;
}
.button-entrance {
    margin-left: -140px;
}
.login-links {
    position: relative;
}
.forgotten-password { 
    position: absolute;
    height: 18px;
    bottom: 25px;
    left: 120px;
}
.new-registration {
    position: absolute;
    height: 18px;
    bottom: 5px;
    left: 120px;
}


.searching-container {
    width: 341px;
    min-height: 100px;
    display: flex;          
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 21px;
    left: -310px;
    display: none;
}
.modal-searching-form {
    padding: 20px 17px;
}
.search:hover .searching-container,
.search:focus .searching-container {
    display: flex;
}


.modal-feedback-form {
    padding: 15px 15px 25px 25px;
    position: fixed;
    top: 50%;
    margin-top: -223px;
    left: 50%;
    margin-left: -240px;
    z-index: 2;
}
.modal-feedback-form h2 {
    margin: 0;
    margin-bottom: 20px;
}
.feedback-form input {
    margin-bottom: 20px;
}
.feedback-form textarea {
    margin: 0;
    margin-bottom: 25px;
}
.button-feedback {
    margin-left: 295px;
}


.cart-container {
    width: 540px;
    min-height: 257px;
    display: flex;          
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 24px;
    left: -423px;
    display: none;
}
.modal-cart {
    padding: 30px 15px 20px 15px;
}
.full-trolley:hover .cart-container,
.full-trolley:focus .cart-container {
    display: flex;
}
.modal-shopping-cart {
    border-collapse: collapse;
}
.orange-plombir {
    height: 52px;
}
.strawberry-plombir {
    height: 48px;
}
.orange-plombir td:first-child,
.strawberry-plombir td:first-child {
    width: 73px;
    position: relative;
}
.orange-plombir td:nth-child(2),
.strawberry-plombir td:nth-child(2) {
    width: 230px;
    vertical-align: top;
}
.orange-plombir td:nth-child(3),
.strawberry-plombir td:nth-child(3) {
    width: 120px;
    text-align: right;
    vertical-align: top;
}
.orange-plombir td:last-child,
.strawberry-plombir td:last-child {
    width: 76px;
    text-align: right;
    vertical-align: top;
    padding-right: 19px;
}
.total td {
    width: 445px;
    height: 33px;
    text-align: right;
    vertical-align: bottom;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.orange-plombir td:first-child::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 0px;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.orange-plombir td:first-child::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    top: -7px;
    left: 25px;
    background-image: url("../img/ice-cream-small-1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.strawberry-plombir td:first-child::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    left: 0px;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.strawberry-plombir td:first-child::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    top:  -7px;
    left: 25px;
    background-image: url("../img/ice-cream-small-2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.button-cart {
    margin-top: 13px;
    margin-left: 340px;
}

