body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
}
.inner-page {
    background-image: url("../img/backlight-catalog.png");
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover,
a:active {
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.site-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    list-style: none;   
}
.site-navigation a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    list-style: none;
}
.main-navigation a {
    color: #ffffff;
}





a.navigation-site:hover,
a.navigation-site:focus {
    color: #333333;
    background-color: rgb(247, 246, 243);
}
a.navigation-site:active {
    border-radius: 25px;
    color: #333333;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}
.site-navigation-current a {
    border-radius: 25px;
    background-color: #d07058;
}
.main-navigation p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}
.main-navigation p b {
    font-size: 22px;
    line-height: 34px;
}
.sliders p {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}
.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-image: linear-gradient(360deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
    border-radius: 60px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-image: linear-gradient(360deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.button:active {
    background-image: linear-gradient(180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: inset 0px -2px 2px 0px rgba(148, 39, 24, 0.004);
}


.button-jam {
    width: 278px;
    height: 63px;
    font-size: 32px;
    line-height: 44px;
}
.button-promotion-rasp {
    width: 165px;
    height: 46px;
}
.button-promotion-choco {
    width: 189px;
    height: 45px;
}
.button-subscription {
    width: 128px;
    height: 43px;
}
.button-location {
    display: block;   
    width: 251px;
    height: 43px;
}
.button-subscription {
    width: 128px;
    height: 45px;
}
.button-feedback {
    width: 138px;
    height: 43px;
}
.button-catalog-filter-form {
    width: 143px;
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
    border-radius: 60px;
}
.button-catalog-filter-form:hover,
.button-catalog-filter-form:focus {
    background-color: rgb(255, 255, 255);
    border: none;
    color: #323232;
}
.button-catalog-filter-form:active {
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    border: none;
    color: #323232;
}
.raspberries {
    background-color: #69182c;
    background-image: url("../img/raspberries-background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    height: 230px;
}
.chocolate {
    background-color: #3f2519;
    background-image: url("../img/chocolate-background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    height: 230px;
}
.promotion h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.promotion p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.hit ul {
    list-style: none;
}
.hit-item-image img {
    border-radius: 50%;
}
.hit-item-price {
    line-height: 45px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit-item-description a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.shop-description{
    background-color: #ecdebe;
    background-image: url("../img/waffle-pattern.jpg");
    border-radius: 15px;
    width: 1150px;
    min-height: 310px;
    height: auto;
}
.shop-description h2 {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.shop-description-list {
    list-style: none;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.news {
    background-color: #f1c5ca;
    background-image: url("../img/strawberry-background.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    min-height: 220px;
    height: auto;
}
.news h4 {
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.news a {
    color: #323232;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    border-bottom: 3px solid rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.8);
}
.subscription{
    background-image: url("../img/post-background.svg");
    background-repeat: no-repeat;
    width: 550px;
    min-height: 210px;
    height: auto;
    border-radius: 10px;
    padding: 5px;
}
.subscription-inner {
    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    width: 550px;
    height: 210px;
}
.subscription p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.subscription-form input {
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    width: 368px;
    height: 44px;
}
.map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 429px;
}
.address {
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 15px;
    width: 302px;
    height: 305px;
}
.address p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.address b {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.info {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    list-style: none;
}
.info a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.info li:first-child {
    font-weight: 700;
}
.footer-social ul {
    list-style: none;
}
.footer-copyright p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.footer-copyright p a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.modal {
    background-color: rgb(248, 247, 244);
}
.modal-main-menu {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 143px;
    height: 171px;
}
.modal-main-menu b {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}
.modal-main-menu a:focus,
.modal-main-menu a:hover {
    background-color: rgb(251, 222, 215);
    width: 143px;
    height: 28px;
}
.modal-main-menu a:active {
    background-color: rgb(246, 181, 165);
    width: 143px;
    height: 28px;
}
.modal-main-menu-item-current {
    background-color: rgb(208, 112, 88);
    width: 143px;
    height: 28px;
}
.modal-main-menu-list a {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.modal-main-menu ul {
    list-style: none;
}
.modal-login {
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 277px;
    height: 214px;
}
.modal-login input {
    font: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 245px;
    height: 48px;
}
.modal-login a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
}
.modal-searching-form {
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 341px;
    height: 84px;
}
.searching-form input {
    font: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    width: 315px;
    height: 48px;
}
.modal-feedback-form {
    border-radius: 10px;
    width: 478px;
    height: 443px;
}
.modal-feedback-form h2 {
    color: #323232;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.feedback-form input{
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 271px;
    height: 48px;
}
.feedback-form textarea {
    font: inherit;
    background-color: rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    width: 432px;
    height: 159px;
    resize: none;
}
.modal-cart {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 540px;
    height: 242px;
}
.modal-cart td {
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.modal-cart td:last-child {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul.breadcrumbs {
    list-style: none;
}
.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
h1.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.catalog-filter-form legend,
label.catalog-filter-form-popularity {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
.catalog-filter-form label,
.catalog-filter-form option {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.catalog-filter-form select {
    width: 194px;
    height: 37px;
    border: none;
    border-radius: 25px;
    background-color: rgba(248, 247, 244, 0.2);
    background-image: url("../img/icon-down-dir.svg");
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none;
}
.catalog-filter-form select::-ms-expand {
    display: none;
}
.catalog-filter-form select:focus {
    color: #323232;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.catalog-filter-form select:focus option{
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
ul.catalog-list {
    list-style: none;
}
.catalog-item-image img {
    border-radius: 50%;
}
.catalog-item-price {
    line-height: 45px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item p a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
ul.pagination-list {
    list-style: none;
}
.pagination-item a{
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.pagination-item-current a {
    display: block;
    color: #323232;
    background-color: rgb(255, 255, 255); 
    border-radius: 50%;
    width: 27px;
    height: 26px;
}
.pagination-item-disabled a {
    color: #8ea598;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 27px;
    height: 26px;
}
.pagination-item a:active {
    color: #323232;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 27px;
    height: 26px;
}



    /*  Сеточные стили главной страницы  */

html.
body {
    min-height: 2415px;
    margin: 0;
    padding: 0;
}
body {

    /*Временно для сетки*/ 
    background-image: url("../img/gllacy-index-1200.jpg");
    background-width: 1200px;
    background-height: auto;
    background-repeat: no-repeat; 
}


    /*  Header  */


.main-header {
    margin: 0;
    margin-bottom: 270px;
    width: 1146px;
    padding: 0 27px;
    min-height: 120px;

    /*Временно для сетки*/ 
    background-color: rgba(237, 110, 146, 0.3);
     
    
}
.main-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    min-height: 120px;
}
.main-header-logo {
    width: 154;
    height: 64;
    padding-top: 8px;
    padding-right: 24px;
    flex-grow: 0;
    flex-shrink: 0;

    /*Временно для сетки*/  
    background-color: rgba(241, 204, 180, 0.3); 
}
.site-navigation {
    margin: 0;
    padding: 0;
    width: 382px;
    margin-right: 293px;
    text-align: left;
    padding-top: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;

    /*Временно для сетки*/   
    
    background-color: rgba(210, 204, 180, 0.3);  
}
.site-navigation li {
    margin-right: 28px;
}


a.navigation-site {
    box-sizing: border-box;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    color: #333333;
    background-color: rgb(247, 246, 243);
}







.user-navigation {
    margin: 0;
    padding: 0;
    width: 293px;
    text-align: right;
    padding-top: 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 45px;

    /*Временно для сетки*/   
    
    background-color: rgba(241, 204, 180, 0.3);  
}
.user-navigation li {
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    padding-right: 17px;
    padding-left: 16px;
    border-radius: 25px;
    text-align: center;
    margin-left: 10px;
}
.navigation {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.empty-trolley svg,
.full-trolley svg,
.login-link svg  {
    margin-right: 6px;
}
.user-navigation .search {
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
}



.main-navigation p { 
    margin: 0;
    padding: 0;
    width: 170px; 
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 50px;

    /*Временно для сетки*/  
    
    background-color: rgba(241, 204, 180, 0.3);  
}
.main-navigation p a {
    display: block;
}
    /*  Main  */

.container {
    padding: 0;
    margin: 0;
}


    /*  Sliders  */


.sliders {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 30px;
    min-height: 225px;

    /*Временно для сетки*/   
    background-color: rgba(241, 204, 180, 0.3);
    
}
.slider-1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 214px; 
}
.slider-1 p {
    width: 670px;
    text-align: center;
    margin: 0 auto;
    min-height: 130px;

    /*Временно для сетки*/    
    
    background-color: rgba(237, 110, 146, 0.3);  
}
.slider-1 button {
    width: 278;
    margin: 0 auto;
}


    /*  Promotion  */


.promotion {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 39px;
    display: flex;
    min-height: 230px;

    /*Временно для сетки*/    
    background-color: rgba(254, 191, 80, 0.3);
}
.promotion article {
    width: 560px;
}
.raspberries {
    padding: 0;
    margin: 0;
    margin-right: 26px;
}
.raspberries h3 {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 16px;
}
.raspberries p {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
}
.raspberries button {
    margin-left: 375px;
    margin-top: 43px;
}
.chocolate {
    padding: 0;
    margin: 0;
}
.chocolate h3 {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 16px;
}
.chocolate p {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
}
.chocolate button {
    margin-left: 350px;
    margin-top: 43px;
}

    /*  Hit  */


.hit {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 22px;
    min-height: 330px;

    /*Временно для сетки*/
    background-color: rgba(110, 237, 116, 0.3);
}
.hit-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    min-height: 330px;
}
.hit-item {
    width: 267px;
    display: flex;
    flex-direction: column;
    min-height: 330px;
}
.hit-item-price {
    margin-top: -65px;
}
.hit-item p {
    text-align: center;
    margin-top: 24px;
}


    /* Shop-description  */


.shop-description {
    padding: 23px 20px;
    margin: 0 auto;
    width: 1106px;
    margin-bottom: 39px;
    min-height: 261px;

    /*Временно для сетки*/    
    background-color: rgba(110, 237, 116, 0.3);
}
.shop-description-topic {
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}
.shop-description-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop-description-article {
    margin: 0;
    padding: 0;
    width: 540px;
    display: flex;

    /*Временно для сетки*/   
    background-color: rgba(110, 237, 116, 0.3); 
}
.shop-description li:nth-child(1) {
    order: 0;
}
.shop-description li:nth-child(2) {
    order: 2;
}
.shop-description li:nth-child(3) {
    order: 1;
}
.shop-description li:nth-child(4) {
    order: 3;
}
.shop-description-article-img {

}
.shop-description-article p {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 7px;

    /*Временно для сетки*/   
    background-color: rgba(254, 191, 80, 0.3); 
}

    /*  News  */

.style-block {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    margin-bottom: 40px;
    display: flex;
    min-height: 220px;

    /*Временно для сетки*/    
    background-color: rgba(68, 53, 227, 0.3);
}
.news {
    padding: 0;
    margin: 0;
    margin-right: 26px;
    height: 220px; 
}
.news h4 {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
}
.news div {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    width: 290px;
}
.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscription-inner {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.subscription-inner p {
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-left: 22px;
    margin-bottom: 35px;
    width: 510px;
    min-height: 65px; 

    /*Временно для сетки*/      
    background-color: rgba(68, 53, 227, 0.3);
}
.subscription-form {
    padding: 0;
    margin: 0;
    margin-left: 22px;
    width: 510px;
}
.subscription-form button {
    margin-left: 8px;
}
    /*  Location  */


    /*  Footer  */

.main-footer {
    padding: 0;
    margin: 0;
    width: 1146px;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
    min-height: 103px; 

    /*Временно для сетки*/    
    background-color: rgba(68, 53, 227, 0.3);
}
.footer-social ul{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 267px;
    margin-top: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 37px;

    /*Временно для сетки*/   
    background-color: rgba(110, 237, 116, 0.3);
}
.footer-social ul li {
    margin-right: 11px;
}
.info {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 360px;
    margin-left: 110px;
    margin-right: 142px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 40px;

    /*Временно для сетки*/   
    background-color: rgba(241, 204, 180, 0.3);
}
.info-link {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    min-height: 17px;

    /*Временно для сетки*/  
    background-color: rgba(241, 204, 180, 0.3);
}
.info li:nth-child(1) {
    order: 0;
    box-sizing: border-box;
    margin-top: 35px;
    padding-left: 45.5px;
}
.info li:nth-child(2) {
    order: 2;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 46px;
}
.info li:nth-child(3) {
    order: 1;
    box-sizing: border-box;
    margin-top: 35px;
    padding-left: 7px;
}
.info li:nth-child(4) {
    order: 3;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 7px;
}
.footer-copyright {
    margin: 0;
    padding: 0;
    width: 267px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-height: 65px;

    /*Временно для сетки*/   
    background-color: rgba(110, 237, 116, 0.3);
}
.ha-logo {
    margin: 0;
    padding: 0;
    margin-top: 17px;
    margin-left: 78px;
}
.footer-copyright p {
    margin: 0;
    padding: 0;
    margin-left: 78px;

    /*Временно для сетки*/   
    background-color: rgba(254, 191, 80, 0.3); 
}




    /*  Сеточные стили страницы каталога */


.inner-page {
    /*Временно для сетки*/   
    background-image: url("../img/gllacy-catalog-1200.jpg");
    background-width: 1200px;
    background-height: auto;
    background-repeat: no-repeat; 
}
.full-trolley {
    position: relative;
}
.inner-page .main-navigation p{
    margin-top: -6px;
}
    /*  Breadcrumbs  */


.breadcrumbs {
    padding: 0;
    margin: 0;
    width: 267px;
    padding: 0 27px;
    display: flex;
    justify-content: flex-start;
    min-height: 20px;

    /*Временно для сетки*/  
    background-color: rgba(68, 53, 227, 0.3); 
    
}
.inner-page .main-header {
    margin-bottom: -23px;
}
.breadcrumbs li {
    margin-right: 20px;
}
.inner-page .container {
    width: 1200px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    min-height: 1443px;


    /*Временно для сетки*/  
    background-color: rgba(75, 14, 103, 0.3); 
    
}

.page-title {
    width: 390px;
    padding: 0;
    margin: 0;
    padding: 0 27px;
    margin-bottom: 25px;
    min-height: 40px;

    /*Временно для сетки*/  
    background-color: rgba(254, 191, 80, 0.3); 
    
}


    /*  Catalog  */


.filters {
    width: 879px;
    padding: 0;
    margin: 0;
    padding: 0 27px;
    margin-bottom: 39px;
    min-height: 134px;

    /*Временно для сетки*/ 
    background-color: rgba(110, 237, 116, 0.3); 
    
}
.catalog-list {
    padding: 0;
    margin: 0;
    padding: 0 27px;
    width: 1146px;
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 1055px;

    /*Временно для сетки*/ 
    background-color: rgba(241, 204, 180, 0.3); 
    
}
.catalog-item {
    padding: 0;
    margin: 0;
    width: 267px;
    display: flex;
    flex-direction: column;
    min-height: 362px;
}
.catalog-item-price {
    padding: 0;
    margin: 0;
    margin-top: -65px;
}
.catalog-item p {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 0 auto;
    width: 257px;
    text-align: center;
    margin-top: 24px;
}
.pagination-list {
    padding: 0;
    margin: 0;
    padding: 0 27px;
    width: 1146px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 30px;

    /*Временно для сетки*/ 
    background-color: rgba(237, 110, 146, 0.3);  
}
.pagination-item {
    margin-left: 21px;
}

